{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}

{% block body %}

    <h2>Mon score</h2>
    <h3>{{user_info.username}} : <span>{{user_info.score}}</span></h3><br>


    <h2>Classement générale</h2>
    <ul>
    <li>Pseudo : Score : Position</li>
    {% set user_pos = 0 %}
    {% for user in users %}
        {% set user_pos = user_pos + 1 %}
        <li>{{ user.username}} | {{user.score}} | {{user_pos}}</li>
    {% endfor %}
    </ul>

{% endblock %}
